<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                      <div class="navbar-header">
                        <a class="navbar-brand" href="#">WebSiteName</a>
                      </div>
                      <ul class="nav navbar-nav">
                       
                      </ul> 
                    </div>
                  </nav>

                  <nav class="navbar navbar-expand-sm bg-light">
                    <ul class="navbar-nav">
                        <li class="nav-item" routerLinkActive="active" routerLink="/home"><a class="nav-link">Home</a></li>
                        <li class="nav-item" routerLinkActive="active" routerLink="/about"><a class="nav-link">About</a></li>
                        <li class="nav-item" routerLinkActive="active" routerLink="/service"><a class="nav-link" >Service</a></li>
                        <li class="nav-item" routerLinkActive="active" routerLink="/contact"><a class="nav-link">Contact</a></li>
                    </ul>
                  </nav>


            </div>
        </div>
    </div>
</header>

<!-- Header HTML -->